{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
  ],
  "plugins": [
    "@typescript-eslint",
  ],
  "rules": {
    "indent": "off",
    "@typescript-eslint/interface-name-prefix": [
      2,
      "always"
    ],
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/indent": [
      "warn",
      2
    ]
  }
}
